<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Services Page</title>
</head>
<body>
<h1> Welcome to services page</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  Amet, ea eaque fugiat impedit incidunt inventore labore
  laboriosam magnam, minima nostrum optio quas quia, quod
  suscipit totam. A commodi cum cupiditate deserunt doloremque dolores, doloribus est hic
  id obcaecati quia quidem, reiciendis rem sequi ut vel velit. Aliquam necessitatibus
  repellendus tempore!</p>
<button>Click here to dance </button>

</body>
</html>